.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/

# Python execution leftover files
__pycache__/

# Project download logs
downloading_projects/*_log.txt

# Downloaded projects
downloading_projects/files/
swift_files/files/

# Swift log file we used
swift_run_log.txt
